.ct-sec {
  padding: 70px 20px;
  background: #f1e7e7;
}

/* HEADER */
.ct-head {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.ct-head h2 {
  font-size: 36px;
  color: #0b2545;
  margin-bottom: 10px;
}

.ct-head p {
  color: #555;
  font-size: 15px;
  margin-bottom: 30px;
}

/* TABS */
.ct-tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
 
  margin-bottom: 40px;
  color: #000;
}

.ct-tab {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background: #e4e4e4;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.ct-tab.active {
  background: #c8020e;
  color: #fff;
}

/* CONTENT */
.ct-content {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.ct-img {
  flex: 1;
}

.ct-img img {
  width: 100%;
  border-radius: 16px;
}

.ct-text {
  flex: 1;
}

.ct-text h3 {
  font-size: 32px;
  color: #0b2545;
  margin-bottom: 15px;
}

.ct-text p {
  color: #555;
  line-height: 1.7;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .ct-content {
    flex-direction: column;
    text-align: center;
  }

  .ct-text h3 {
    font-size: 24px;
  }
}
@media (max-width:780px) {
  .ct-sec{
    padding: 0;
  }
  .ct-head h2{
    font-size: 26px;
  }
  .ct-tabs{
    overflow-x: auto;

  }
  .ct-tabs{
    justify-content: center;
  }
}